# folder
test/
.vscode/

# build
1.cpp
*.o
*.exe
*cxx
*.so
*.txt
*.mif
*.plt

# asset
alphaBetaGomoku
store
asset/result/check_result.py
asset/fonts/generate_png.py
asset/upsample.py
asset/gomoku.png
asset/gomoku (自定义).jpeg
asset/title_gen.py
asset/result/white_gen_modified.png

# kmod
*.cmd
*.mod
*.symvers
*.ko
*.order
vga_gomoku*